html, body{
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
nav{
    padding-right: 50px;
}

.full-height{
    height: 100vh;
}
.flex-center{
    align-items: center;
    display: flex;
    justify-content: center;
}
.content{
    text-align: center;
}
.title{
    color: white;
    font-size: 12vh;
    margin-bottom: 3vh;
    font-weight: bold;
}
.home{
    background-image:url(background.jpg);
    background-size:cover;
}
.content-text{
    font-weight: bold;
    color: white;
    font-size: 3.3vh;
}
.profile{
    width: 100%;
    height: 30%;
    background-color: #301851;
    color: white;
    font-weight: bold;
}
.profile-table{
    margin-top: 4vh;
    margin-right: 2vh;
    float: right;
    width: 30%;
    height: 60%;
}

#nav{
    opacity: 0.4;
    background-color: #301851;
    position: fixed;
    width: 100%;
    top: 0; 
}
#nav ul li{
    display: inline-block;
    margin-left: 3vh;
}
#nav ul li a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#nav-wrapper{
    margin: 2.5vh;
    float: right;
    font-size: 2vh;
    width: 100%;
    text-align: right;
}